@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap");

:root {
  /*Setting root sources for use throughout CSS */
  background-image: url(../Images/parchment.jpg); /*Setting background color*/
  font-size: 62.5%; /*Setting root font size to 10px (62.5% of 16px) for easier manipulation elsewhere*/
}

* {
  box-sizing: border-box;
  font-family: "EB Garamond", serif;
  margin: 0;
  color: #333;
}

h1 {
  font-size: 5.4rem;
  margin-bottom: 1.5rem;
}

li {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;

}

ol {
  padding: 0rem;
  margin-bottom: 2rem;
}

/* Utilities */
.potterLogo {
  background-color: transparent;
  width: 70rem;
  margin-top: 8rem;
  margin-bottom: -2rem
}

.container {
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  max-width: 80rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

/* Buttons */
.btn {
  font-size: 2.4rem;
  font-weight: bold;
  padding: 1rem 0;
  width: 20rem;
  text-align: center;
  border: 0.1rem solid #333;
  border-radius: 1rem;
  margin-top: 1rem;
  text-decoration: none;
  color: #333;
  background-image: url(../Images/parchment.jpg);
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #333333c2;
  transform: translateY(-0.1rem);
  transition: ease 150ms;
}
.btn:active {
  box-sizing: border-box;
  border: 0.2rem solid #333333c2;
  transition: ease 150ms;
}

#reset-btn {
  position: relative;

}

#reset-btn .tooltip {
  visibility: hidden;
  width: 25rem;
  background-color: transparent;
  color: #333;
  text-align: center;

  /* Positioning the tooltip */
  position: absolute;
  z-index: 1;
  left: 105%;
}

#reset-btn:hover .tooltip {
  visibility: visible;
}